body{
  width: 50%;
  margin: auto;
}

.botones{
  display:flex;
  justify-content: space-around;
}
#inicio a:hover{
  color: #fff;
  text-decoration: none;
}

#tablaConsulta{
  border:2px solid black;
  margin:auto;
  width: 100%;
  text-align: center;
}

